body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: black;
}
.weatherCards{
    /* display: none; */
}
.city-div{
    /* display: block; */
    align-items: center;
    text-align: center;
}
.weather-cards{
    display: hidden;
    align-items: center;
    text-align: center;
}
.city-div input{
    margin: auto;
}
.col{
    margin: auto;
    text-align: center;
}
#icon{
    width: 100px;
    height: 100px;
}