body{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.sunny{
    background-image: url(img/sun.jpg);
}
.cloudy{
    background-image: url(img/cloudy.jpg);
}
.lightning{
    background-image: url(img/lightning.jpg);
}
.rainy{
    background-image: url(img/rain.jpg);
}
.night {
    background-image: url(img/night.jpg);
}
.weatherCards{
    /* display: none; */
}
.city-div{
    /* display: block; */
    align-items: center;
    text-align: center;
}
.weather-cards{
    display: hidden;
    align-items: center;
    text-align: center;
}
.city-div input{
    margin: auto;
}
.col{
    margin: auto;
    text-align: center;
}
#icon{
    width: 100px;
    height: 100px;
}